{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}
<div class="about-bottom inner-padding">
	<div class="container">
		<div class="wthree_head_section">
				<h3 class="w3l_header">About <span>Us</span></h3>
			</div>
				<div class="about-bott-right">
					 <h5>Protein Zone : Food Supplements Store</h5>
					 <p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius, Basmodi temurer sehsMunim.Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
</div>
<div class="about-agile inner-padding">
	<div class="container">
		<h3 class="heading-agileinfo white-w3ls">TrainHard is the right place to start new life as an athletic, strong and healthy person with a strong will.</h3>
		<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia .</p>
			<div class="more-button">
				<a href="{% url 'mailUs' %}">Mail Us</a>
			</div>
	</div>
</div>
<!-- //about inner -->
<!-- Team -->
<div class="team">
		<div class="container">
		<div class="wthree_head_section">
				<h3 class="w3l_header">Our <span> Authorization Certificates </span></h3>
			</div>
		
			<div class="agile_team_grids">
				<div class="col-md-4 agile_team_grid">

					<div class="col-md-12 we-w3l">
						<img src="{% static 'images/certificates/t1.jpg' %}" alt=" " class="img-responsive">
						<h4> NG- GENX </h4>
					<p>Authorization Certificate</p>
					</div>
					
				</div>
				<div class="col-md-4 agile_team_grid">
					<div class="col-md-13 we-w3l">
						<img src="{% static 'images/certificates/t2.jpg' %}" alt="" class="img-responsive">
						<h4>BULK  PROTEIN</h4>
					<p>Authorization Certificate</p>
					</div>
				
				</div>
				<div class="col-md-4 agile_team_grid">
					<div class="col-md-12 we-w3l">
						<img src="{% static 'images/certificates/t3.jpg' %}" alt=" " class="img-responsive">
						<h4>OLYMPIA  NUTRITION</h4>
					<p>Authorization Certificate</p>
						<!-- <div class="mask">
							<h5>Lorem Ipsum</h5>
							<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit.</p>
							<div class="agileits_social_icons">
								<ul class="social_agileinfo">
									<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div> -->
					</div>
					
				</div>
				<!-- <div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="images/t4.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Lorem Ipsum</h5>
							<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit.</p>
							<div class="agileits_social_icons">
								<ul class="social_agileinfo">
									<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Smith Carls</h4>
					<p>Trainer</p>
				</div> -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //Team -->
{% endblock %}