{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <title>Protein Zone : Food Supplement Shop, Dhule.</title>
        <!-- custom-theme -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Gym Trainer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
        <!-- //custom-theme -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <!-- Owl-carousel-CSS -->

        <!-- Testimonials-slider-css-files -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
        <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
        <!-- //Testimonials-slider-css-files -->

        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
        <!-- font-awesome-icons -->
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <!-- //font-awesome-icons -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
            rel="stylesheet">
        <link
            href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
            rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
            <link rel="stylesheet" href="{% static 'css/gallery-grid.css' %}">
    </head>
</head>

<body>
    <!-- banner -->
    {% if request.path == '/' %}
        <div class="main_section_agile" id="home">
    {% else %}
        <div class="main_section_agile inner">
    {% endif %}
        <div class="agileits_w3layouts_banner_nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>


                        <h1><a class="navbar-brand" href="{% url 'home' %}"><img
                                    src="{% static 'images/home/proteinzone.png' %}" alt="logo" style="width:10%;"> </a>
                        </h1>

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                {% if request.path == '/' %} 
                                    <li class="active"><a href="{% url 'home' %}" class="effect-3">Home</a></li>
                                {% else %}
                                    <li><a href="{% url 'home' %}" class="effect-3">Home</a></li>
                                {% endif %}

                                {% if request.path == '/about/' %} 
                                    <li class="active"><a href="{% url 'about' %}" class="effect-3">About</a></li>
                                {% else %}
                                    <li><a href="{% url 'about' %}" class="effect-3">About</a></li>
                                {% endif %}

                                {% if request.path == '/protein/' or request.path == '/creatine/' or request.path == '/peanutButter/' or request.path == '/energyDrink/' or request.path == '/bcaa/' or request.path == '/glutamine/' %} 
                                    <li class="active dropdown"> <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Our Products <b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu agile_short_dropdown">
                                            <li><a href="{% url 'protein' %}">Protein</a></li>
                                            <li><a href="{% url 'creatine' %}">Creatine</a></li>
                                            <li><a href="{% url 'bcaa' %}">BCAA</a></li>
                                            <li><a href="{% url 'preWorkout' %}">Pre Workout</a></li>
                                            <li><a href="{% url 'peanutButter' %}">Peanut Butter</a></li>
                                         </ul>
                                    </li>
                                {% else %}
                                <li class="dropdown"> <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Our Products <b
                                        class="caret"></b></a> -->
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="{% url 'protein' %}">Protein</a></li>
                                        <li><a href="{% url 'creatine' %}">Creatine</a></li>
                                        <li><a href="{% url 'bcaa' %}">BCAA</a></li>
                                        <li><a href="{% url 'preWorkout' %}">Pre Workout</a></li>
                                        <li><a href="{% url 'peanutButter' %}">Peanut Butter</a></li>
                                    </ul>
                                </li>
                                {% endif %}

                                {% if request.path == '/mailUs/' %} 
                                    <li class="active"><a href="{% url 'mailUs' %}"" class=" effect-3">Mail Us</a></li>
                                {% else %}
                                    <li><a href="{% url 'mailUs' %}" class=" effect-3">Mail Us</a></li>
                                {% endif %}
                                
                            </ul>
                        </nav>
                    </div>

                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

        <!-- footer -->
    <div class="footer">
        <div class="f-bg-w3l">
            <div class="col-md-3 w3layouts_footer_grid">
                <h2>About <span> Us</span></h2>
                <p>Experienced Suppliment Shop in Dhule. Best Suppliments are provided by us according to the Client's
                    fitness and Health.</p>
                <!-- <form action="#" method="post">
                                <input type="email" name="Email" placeholder="Enter your email..." required="">
                                <button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                                <div class="clearfix"> </div>
                            </form> -->


            </div>
            <div class="col-md-3 w3layouts_footer_grid">
                <h3>Connect With<span> Us</span></h3>
                <!-- <ul class="con_inner_text midimg">
                                <li><a href="#"><img src="images/banner22.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner33.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner44.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner11.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner22.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner33.jpg" alt="" class="img-responsive" /></a></li>
                                    <li><a href="#"><img src="images/banner11.jpg" alt="" class="img-responsive" /></a></li>
                                <li><a href="#"><img src="images/banner44.jpg" alt="" class="img-responsive" /></a></li>
                                </ul> -->
                <ul class="social_agileinfo">
                    <li><a href="https://www.facebook.com/profile.php?id=100023372978498&epa=SEARCH_BOX"
                            class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="https://www.instagram.com/daradepravin/" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="9923839990" class="w3_whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 w3layouts_footer_grid">
                <h3>Our Premium <span> Brands</span> </h3>
                <ul class="links">
                    <li><a target="_blank" href="https://www.optimumnutrition.com/en-us">ON-Optimum Nutrition </a></li>
                    <li><a target="_blank" href="https://www.muscletech.com/intl/products/">MT-Muscletech</a></li>
                    <li><a target="_blank" href="https://www.labrada.com/store/musclemassgainer.html">Labrada-Mass Gainer</a></li>
                    <li><a target="_blank"  href="https://ultimatenutrition.com/products/prostar-100-whey-protein?variant=28966683050044">Ultimate Nutrition-Whey</a></li>
                    <li><a target="_blank" href="https://www.bsn-supplements.com/en-gb/products/syntha-6/">BSN-SYNTHA 6</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 w3layouts_footer_grid">
                <h2>Contact <span>Us</span></h2>
                <ul class="con_inner_text">
                    <li><span class="fa fa-map-marker" aria-hidden="true"></span>Protein Zone (Food suppliment Shop), In
                        front of Jai Hind Senior College, Wadibokhar Road,Dhule City</li>
                    <li><span class="fa fa-envelope-o" aria-hidden="true"></span><a
                        href="mailto:proteinzonedhule@gmail.com">proteinzonedhule@gmail.com</a></li>
                    
                    <li><span class="fa fa-phone" aria-hidden="true"></span> 992-383-9990</li>
                    <li><span class="fa fa-phone" aria-hidden="true"></span> 702-037-9037</li>
                </ul>
                <!-- <ul class="social_agileinfo">
                                <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                            </ul> -->
            </div>


            <div class="clearfix"> </div>

        </div>
        <p class="copyright">© 2020 Protein Zone : Food Suppliment Shop | Designed by <a href="#" target="_blank">Ruchiket
                Chakor.</a></p>
    </div>
    <!-- //footer -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Protein Zone
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="{% static 'images/3.png' %}" alt=" " class="img-responsive" />
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look like
                            readable English.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <!-- Slider script -->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                manualControls: '#slider3-pager',
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>

    <!-- for testimonials slider-js-file-->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <!-- //for testimonials slider-js-file-->
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: true,
                items: 3,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [414, 4]
            });
        }); 
    </script>
    <!-- for testimonials slider-js-script-->
    <!-- stats -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
</body>

</html>