{% extends 'Shop/base.html' %}
{% load static %}

{% block content %}
    
    <div class="banner_top">
        <div class="slider">
            <div class="wrapper">
    
                <!-- Slideshow 3 -->
                <ul class="rslides" id="slider">
                    <li>
                        <div class="agile_banner_text_info">
                            <!-- <h3>Become Strong And Healthy </h3> -->
                            <!-- <p>TrainHard is the right place to start new life as an athletic, We will help you to become strong and healthy person with a strong will.</p> -->
                        </div>
                    </li>
                    <li>
                        <div class="agile_banner_text_info">
                            <!-- <h3>Exceptional Life Fitness </h3> -->
                            <!-- <p>TrainHard is the right place to start new life as an athletic, strong and healthy person with a strong will.</p> -->
                        </div>
                    </li>
                    <li>
                        <div class="agile_banner_text_info">
                            <!-- <h3>Build Your Body With Us </h3> -->
                            <!-- <p>TrainHard is the right place to start new life as an athletic, strong and healthy person with a strong will.</p> -->
                        </div>
                    </li>
                    <li>
                        <div class="agile_banner_text_info">
                            <!-- <h3>Exceptional Life Fitness </h3> -->
                            <!-- <p>TrainHard is the right place to start new life as an athletic, strong and healthy person with a strong will.</p> -->
                        </div>
                    </li>
                </ul>
                <!-- Slideshow 3 Pager -->
                <ul id="slider3-pager">
                    <li><a href="#"><img src="{% static 'images/home/banner11.jpg' %}" data-selector="img" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/home/banner22.jpg' %}" data-selector="img" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/home/banner33.jpg' %}" data-selector="img" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/home/banner44.jpg' %}" data-selector="img" alt=""></a></li>
    
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- About us -->
    <div class="about-3">
        <div class="wthree_head_section">
            <h3 class="w3l_header">What We <span> Have?</span></h3>
        </div>
        <div class="container">
            <div class="d-flex">
    
                <div class="about1">
                    <h4>Protein Zone : Food Supplements Store </h4>
                    <p>Certified Food Supplement shop in dhule, With "100%" Results. All Imported & Indian brands are
                        available here. Especially for Bodybuilders, Atheletes, Weight Lifter, Wrestler. Our shop provides
                        products as folllows :</p>
                    <p class="details"></p>
                    <ul class="about-list">
                        <li>
                            <div class="col-md-3 we-w3l">
                                <img src="{% static 'images/home/protein.png' %}" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-6 in-block">
                                <h5>PROTEINS</h5>
                                <p>Proteins are made up of many building blocks, known as amino acids. Our body needs
                                    dietary protein to supply amino acids for the growth and maintenance of our cells and
                                    tissues. </p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="col-md-3 we-w3l">
                                <img src="{% static 'images/home/creatine.png' %}" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-6 in-block">
                                <h5>CREATINES</h5>
                                <p>Creatine is the number-one supplement for improving performance in the gym. Taking
                                    creatine as a supplement is very popular among athletes and bodybuilders in order to
                                    gain muscle, enhance strength and improve exercise performance </p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="col-md-3 we-w3l">
                                <img src="{% static 'images/bcaa.png' %}" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-6 in-block">
                                <h5>BCAA</h5>
                                <p> BCAAs stimulate the synthesis of protein in your muscles and suppress the breakdown of muscle protein. Provide a source of energy during prolonged exercise: When glucose, your muscles' main energy source, becomes low, BCAAs can serve as a source of energy .</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <div class="col-md-3 we-w3l">
                            <img src="{% static 'images/home/peanut.png' %}" alt="" class="img-responsive" />
                        </div>
                        <div class="col-md-6 in-block">
                            <h5>PEANUT BUTTER</h5>
                            <p>Peanut butter contains good amounts of healthy fats and protein which means it contains
                                plenty of calories that will give energy. Eating peanuts and peanut butter helps control
                                hunger without leading to weight gain.</p>
                        </div>
                        <div class="clearfix"> </div>
                        </li>
                    </ul>
                </div>
                <div class="about2">
                </div>
            </div>
    
        </div>
    </div>
    <!-- //About us -->
    <!--div class="ser-agile">
    			<div class="container">
    				<div class="wthree_head_section">
    					<h3 class="w3l_header w3_agileits_header two">Our <span>Classes</span></h3>
    				</div>
    					<div class="w3l-info">
    							<div class="col-md-4 ser-lef-agile">
    								<div class="grid1">
    									<h5>Sunday, 13.00</h5>
    									<h4>AEROBIC CAPACITY</h4>
    									<h6>Trainer: Andrew Ross</h6>
    								</div>
    							</div>
    							<div class="col-md-4 ser-lef-agile">
    								<div class="grid1">
    									<h5>Monday, 13.00</h5>
    									<h4>GYMNASTICS PRO</h4>
    									<h6>Trainer: Steve Smith</h6>
    								</div>
    							</div>
    							<div class="col-md-4 ser-lef-agile">
    								<div class="grid1">
    									<h5>Tuesday, 13.00</h5>
    									<h4>BEGINNERS LEVEL</h4>
    									<h6>Trainer: Jessy Raider</h6>
    								</div>
    							</div>
    								<div class="clearfix"></div>
    						</div>
    				</div>
    		</div-->
    
    
    <!--testimonals section -->
    <div class="testimonals">
        <div class="container">
            <div class="wthree_head_section">
                <h3 class="w3l_header">Product<span> Ambassador</span></h3>
            </div>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonal grid-1">
                            <div class="first-grid">
                                <img src="{% static 'images/brandAmbassadors/sunit.png' %}" style="width:35%;">
                                <!-- <img src="images/1.png" alt="" /> -->
                                <h3>Sunit Jadhav</h3>
                                <p> I will recoomend you to have the "My Fitness" peanut butter for Energy Booster & Better
                                    blood circulation to help you. Recommending this to you because it is genuiene products.
                                    Proud To Be Brand Ambassador For My fitness Peanut Butter Thank You So Much.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonal grid-1">
                            <div class="first-grid">
                                <img src="{% static 'images/brandAmbassadors/suhas.png' %}" style="width:35%;" />
                                <h3>Suhas Khamkar</h3>
                                <p> I proud to announce my association with SSN nutritions. 
                                    SSN's is 100% Whey Protein is the excellent low carb, low fat, pure protein 
                                    These products are not intended to diagnose, treat, cure, or prevent any disease. Thank You So Much SSN.</p>
                                <!-- <p>I proud to announce my association with SSN nutritions. SSN's is 100% Whey Protein is the excellent low carb, low fat, pure protein ... These products are not intended to diagnose, treat, cure, or prevent any disease. -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonal grid-1">
                            <div class="first-grid">
                                <img src="{% static 'images/brandAmbassadors/alex.png' %}" style="width:35%;" />
                                <h3>Alex Babatunde</h3>
                                <p> I strongly believe you should only represent what you believe in.
                                    MuscleTech is a prestigious and reputable brand in the industry.
                                    MuscleTech® has given me the quality I need. So I proud to announce my association with MuscleTech.</p>
                                <!-- <p>I strongly believe you should only represent what you believe in. MuscleTech is a prestigious and reputable brand in the industry. MuscleTech® has given me the quality I need. </p> -->
                            </div>
                        </div>
                    </div>
                    <!-- <!-- <div class="item">
    						<div class="testimonal grid-1">
    							<div class="first-grid">
    								<img src="images/2.png" alt="" />
    								<h3>Gomez</h3>
    								<p>Cras tortor ipsum, gravida vitae finibus non, bibendum quis turpis. Cras semper accumsan metus, et aliquet diam vestibulum ut. </p>
    							</div>
    						</div>
    					</div>
    					<div class="item">
    						<div class="testimonal grid-1">
    							<div class="first-grid">
    								<img src="images/3.png" alt="" />
    								<h3>john whick</h3>
    								<p>Cras tortor ipsum, gravida vitae finibus non, bibendum quis turpis. Cras semper accumsan metus, et aliquet diam vestibulum ut. </p>
    							</div>
    						</div>
    					</div>
    					<div class="item">
    						<div class="testimonal grid-1">
    							<div class="first-grid">
    								<img src="images/1.png" alt="" />
    								<h3>Federeka</h3>
    								<p>Cras tortor ipsum, gravida vitae finibus non, bibendum quis turpis. Cras semper accumsan metus, et aliquet diam vestibulum ut. </p>
    							</div>
    						</div>
    					</div> -->
                </div>
            </div>
        </div>
    
    </div>
    <!--/testimonals section -->
    <!-- stats -->
    <!--div class="stats">
    		<div class="container">
    		<div class="wthree_head_section">
    					<h3 class="w3l_header w3_agileits_header two">Our <span>Stats</span></h3>
    				</div>
    			<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
    				<span class="fa fa-user" aria-hidden="true"></span>
    				<p class="counter">45</p>
    				<h3>Workers</h3>
    			</div>
    			<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
    				<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
    				<p class="counter">165</p>
    				<h3>Types of jobs</h3>
    			</div>
    			<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
    				<span class="fa fa fa-folder-open-o" aria-hidden="true"></span>
    				<p class="counter">563</p>
    				<h3>Projects </h3>
    			</div>
    			<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
    				<span class="fa fa-smile-o" aria-hidden="true"></span>
    				<p class="counter">245</p>
    				<h3>Happy Customers </h3>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    	</div>
    	< //stats -->
    
    <!-- our blog -->
    <!--div class="wthree-blog">
    	<div class="container">
    		<div class="wthree_head_section">
    				<h3 class="w3l_header">Our Latest <span>News</span></h3>
    			</div>
    		<div class="blog1">
    			<div class="blog-box">
    				<a href="#" data-toggle="modal" data-target="#myModal1"><img src="images/1.jpg" alt="blog image" class="img-responsive" /></a>
    				<div class="blog-txt">
    					<h3><a href="#" data-toggle="modal" data-target="#myModal1">Lorem Ipsum </a></h3>
    					<h4>December 15,2017</h4>
    					<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ip sum has been the industry's standard text ever.
    						Lorem ipsum is simply dummy text.</p>
    					< Trigger the modal with a button -->
    <!-- <a href="#" data-toggle="modal" data-target="#myModal1">Read More &raquo; </a> -->
    <!-- Modal -->
    
    
    
    <!--/div>
    			</div>
    			
    		</div>
    		<div class="blog2">
    			<div class="blog-box">
    				<div class="blog-txt">
    					<h3><a href="#" data-toggle="modal" data-target="#myModal1">Lorem Ipsum </a></h3>
    					<h4>December 25,2017</h4>
    					<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ip sum has been the industry's standard text ever.
    						Lorem ipsum is simply dummy text.</p>
    					< Trigger the modal with a button -->
    <!-- <a href="#" data-toggle="modal" data-target="#myModal1">Read More &raquo; </a> -->
    <!-- Modal -->
    
    <!-- </div> -->
    <!-- <a href="#" data-toggle="modal" data-target="#myModal1"><img src="images/3.jpg" alt="blo g image" class="img-responsive" /></a> -->
    
    </div>
    </div>
    </div>
    </div>
    <!-- our blog -->
{% endblock %}